<!-- Tei did stuff here. -->
<header class="site-header" role="banner">
  
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a rel="author" href="{{ "/" | relative_url }}">
      <img style="width: 1.2em; margin-top: .7em; margin-right: .2em; float: left;" src="/assets/logo.svg">
    </a>

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>

    <div class="site-nav">
      <nav class="menu-content">
        {% for item in site.data.settings.menu %}
          {% if item.first_char == '/' %}
            <a class="page-link"  href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
          {% else %}
             <a class="page-link"  href="{{ item.url }}">{{ item.name }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
