<header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
<aside class="section1">
  <div class="logo">
    <a href="{{ site.url }}">
      <img src="/assets/images/logo.svg" style="box-shadow: none; float:left; width: 36px; margin-right: 10px">
      <h1>{{ site.title | default: site.github.repository_name }}<sup><small> Beta</small></sup></h1>
      {% if site.description or site.github.project_tagline %}
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      {% endif %}
    </a>
  </div>

  <ul class="buttons-menu-1">
    {% assign first_char = item.link | slice: 0 %}
    {% for item in site.data.header.medias %}
    <li class="{{ item.class }}">
      {% if first_char == '/' %}
      <a href="{{ site.url }}/{{ item.link }}"><strong>{{ item.name }}</strong></a></li>
      {% else %}
      <a href="{{ item.link }}"><strong>{{ item.name }}</strong></a></li>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</aside>

<aside class="section2">
  <a href="{{ site.data.header.a }}">
    {% if site.data.header.img %}
    <img src="{{ site.url }}{{ site.data.header.img }}">
    {% endif %}
  </a>
</aside>

</header>

<!--
  <sup>[🢅]</sup>
-->
