<header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
  <div class="logo">
  <a href="{{ site.url }}">
    <img src="/assets/images/heavensbake-logo-blue.svg" style="float:left; width: 36px; margin-right: 10px">
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
  </a>
    {% if site.description or site.github.project_tagline %}
    <p>{{ site.description | default: site.github.project_tagline }}</p>
    {% endif %}
  </div>

  <ul class="buttons-menu-1">
    {% for item in site.data.settings.medias %}
    <li>
      {% assign first_char = item.link | slice: 0 %}
      {% if first_char == '/' %}
      <a href="{{ site.url }}/{{ item.link }}"><strong>{{ item.name }}</strong></a></li>
      {% else %}
      <a href="{{ item.link }}"><strong>{{ item.name }}</strong></a></li>
      {% endif %}
      {% endfor %}
      <li class="btn-donate">
        <a href="https://ko-fi.com/teijuan"><strong>Support <3</strong></a>
      </li>
  </ul>
</header>

<!--
  <sup>[🢅]</sup>
-->