---
layout: default
---
<!-- Tei stuff -->

<article class="post">

  <header class="post-header">
    
      <h1 class="post-title">{%- if page.title -%}{{ page.title | escape }}{%- else -%}{{ page.slug | escape }}{%- endif -%}</h1>
    
  </header>
  
  <p style="float: right">
    <img src="/assets/images/bio/{{ page.slug }}/{{ page.image }}" alt="icon" style="width: 30%;margin-right: 1.0em;float: left;">
    {% if page.excerpt %}{{ page.excerpt }}{% endif %}
  </p>
    
  <br>

  {{ content }}
<!--
  <h2>Featured in:</h2>
  {% assign pelicula = page.featured %}
  {% for featured in page.featured %}
  <li>
    <h2><a href="{{ featured }}">{{ author.name }}</a></h2>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endfor %}
-->

</article>
