<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p>Theme by <a href="https://github.com/orderedlist">orderedlist</a> with a few tweaks by <a href="https://github.com/teijuan">Tei Juan</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
