---
layout: page
---

{% if page.isWip != true %}
{{ page.released | date: "%b %m, %Y"  }} • {{ site.data.ratings[page.rating] }} • {{ page.duration }}
{% endif %}
<div class="film_desc_container">
      <img class="film_cover" src="{{ site.url }}/assets/images/films/{{ page.slug }}.jpg" alt="{{ page.title }}">

    <div class="film_desc">
      {{ page.description }}
    </div>
</div>
  
  <!-- Authors -->

<div class="film_cast">
  <ul>
    {% for item in page.author  %}
      <li>

      {% if item.noLink == true %}
      <b>{{ item.role }}: </b>{{ item.name }}
      {% else %}
    {% if item.link %} 
    <b>{{ item.role }}: </b><a href="{{ item.link }}">{{ item.name }}</a>
    {% else %}
    <b>{{ item.role }}: </b><a href="/name/{{ item.name | downcase  | replace: " ", "" }}">{{ item.name }}</a>
    {% endif %}
    {% endif %}
    <br>
    </li>
    {% endfor %}
</ul>
    
    {%- if page.callout -%}
    {% if page.callout[0].size > 0 and page.callout[1].size > 0 and page.callout[2].size > 0 %}
    {% assign types = "note, abstract, info, tip, success, question, warning, failure, danger, bug, example, quote" | split: ", " %}
    {% if types contains page.callout[0] %}
    <div class="admonition {{ page.callout[0] }} rounded">
      <p class="admonition-title">{{ page.callout[1] }}</p>
      <p>
        {{ page.callout[2] }}
      </p>
      {% endif %}
      {% endif %}
      {%- endif -%}
    </div>
</div>
      

{%- if page.idyt -%} {%- include btnYoutube.html -%} {%- endif -%}
{%- if page.idgu -%} {%- include btnGumroad.html -%} {%- endif -%}
{%- if page.lnss -%} {%- include btnSubstar.html -%} {%- endif -%}

  <!-- Gallery -->
  {% if page.gallery %} 
    <h2>Gallery</h2>
    {% include carouselGallery.html %}
  {% endif %}

  {% if page.idyt %} 
  <iframe class="film_trailer" width="100%" height="400px" src="https://www.youtube.com/embed/{{ page.idyt }}" film="{{ page.film }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; " allowfullscreen></iframe>
  {% endif %}
  {% if page.idytprv %} 
  <iframe class="film_trailer" width="100%" height="400px" src="https://www.youtube.com/embed/{{ page.idytprv }}" film="{{ page.film }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; " allowfullscreen></iframe>
  {% endif %}

  <!-- Cast -->
  {%- if page.cast -%}
      <h2>Cast</h2>
      {% include carouselCast.html %}
  {%- endif -%}

  {{ content }}
  
  {%- if page.trivia -%}
    <h2>Trivia</h2>
    {%- for item in page.trivia  -%}
      <blockquote>{{ item }}<br></blockquote>
    {%- endfor -%}
  {%- endif -%}
  
  
  <!-- Critiques -->
  {% for item in page.critiques %}
  <blockquote>
    <h4><b>“{{ item.comment }}”</b> (<b>{{ item.rate }}</b>/10)</h4>
    - {{ item.name }}  
    <br>
  </blockquote>
    {%- endfor -%}

</article>
