---
layout: page
---
<!-- Tei did stuff here. -->

{{ page.date | date: "%b %Y, %Y"  }} • {{ site.data.ratings[page.rating] }} • {{ page.duration }}
  <p style="width: 100%;float: right">
    <img class="filmCover" src="/assets/img/thumb/{{ page.slug }}.jpg" alt="{{ page.film }}">

   {{ page.excerpt }}
   <br><br>

   <!-- Authors -->
   {% for item in page.author  %}
    {% if item.noLink != true %}
      <b>{{ item.role }}: </b><a href="/name/{{ item.name | downcase  | replace: " ", "" }}">{{ item.name }}</a>
    {% else %}
      <b>{{ item.role }}: </b>{{ item.name }}
    {% endif %}
    <br>
  {% endfor %}

  </p>

  <!-- Gallery -->
  <h2>Gallery</h2>
  {% include carouselGallery.html %}

  <br>
  <hr>
  <br>

  {% if page.idyt %} 
  <iframe width="100%" height="400px" src="https://www.youtube.com/embed/{{ page.idyt }}" film="{{ page.film }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; " allowfullscreen></iframe>
  {% endif %}

  {%- if page.lngu -%} {%- include btnGumroad.html -%} {%- endif -%}
  {%- if page.lnss -%} {%- include btnSubstar.html -%} {%- endif -%}

  <!-- Cast -->
  {% if page.cast %}
  <h2>Cast</h2>
  {% include carouselCast.html %} {% endif %}

  {{ content }}

  <!-- Critiques -->
  {% for item in page.critiques %}
  <blockquote>
    <h4><b>“{{ item.comment }}”</b> (<b>{{ item.rate }}</b>/10)</h4>
    - {{ item.name }}  
    <br>
  </blockquote>
    {% endfor %}

</article>
